/* Condensed Italic */
/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-italic-webfont.eot');
    src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

// @font-face {
//     font-family: 'Work Sans';
//     src: url('../webfonts/WorkSans-Regular.ttf');
//     src: url('../webfonts/WorkSans-Regular.woff2') format('woff2'),
//          url('../webfonts/WorkSans-Regular.ttf') format('woff');
//     font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Work Sans Bold';
//     src: url('../webfonts/WorkSans-Bold.ttf');
//     src: url('../webfonts/WorkSans-Bold.woff2') format('woff2'),
//          url('../webfonts/WorkSans-Bold.woff') format('woff');
//     font-weight: 600;
// }

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 1.5em;
	max-width: 60%;
	margin: 9px;
}

.text {
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.9px;
}

e {
	color: #fff;
	font-family: 'League Gothic';
	font-weight: normal;
	font-style: italic;
	text-transform: uppercase;
	font-size: 1.1em;
	display: inline-block;
	letter-spacing: 0.06em;
	vertical-align: middle;
}

.viewfinder {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18vw;
	height: 18vh;
	transform: translate(-50%, -50%);
	background: rgba(#fff, 0.1);
	opacity: 0.5;
}

.viewfinder__corner {
	position: absolute;
	width: 15px;
	height: 15px;
}

.viewfinder__corner--tl {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	top: 0;
	left: 0;
}

.viewfinder__corner--tr {
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	top: 0;
	right: 0;
}

.viewfinder__corner--bl {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	bottom: 0;
	left: 0;
}

.viewfinder__corner--br {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	bottom: 0;
	right: 0;
}

.viewfinder__c {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.viewfinder__c:before {
	content: '';
	position: absolute;
	left: 10px;
	height: 100%;
	width: 1px;
	display: block;
	background: #fff;
}

.viewfinder__c:after {
	content: '';
	position: absolute;
	top: 10px;
	height: 1px;
	width: 100%;
	display: block;
	background: #fff;
}

.text--credit {
	font-size: 14px;
	letter-spacing: 0.7px;
}


.button {
	background: rgba(#fff, 0.75);
	border-radius: 3px;
	border: 1px solid #fff;
	letter-spacing: 1.3px;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	padding: 5px 8px 5px 9px;
	font-size: 12px;
	color: #000;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	text-align: center;
}

.button--touched {
	background: rgba(#aaa, 0.75);
	color: #333;
}

.wordmark {
	color: #fff;
	font-family: 'League Gothic';
	font-weight: normal;
	font-style: italic;
	text-transform: uppercase;
}

.wordmark--welcome {
	font-size: 108px;
	line-height: 92px;
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
}

.wordmark--rotate, .wordmark--loader, .wordmark--device {
	font-size: 52px;
	letter-spacing: 0.67px;
	line-height: 48px;
	margin-top: -20px;
}

.canvas, .content-frame, .shim {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.shim {
	background: rgba(#00b3a4, 0.95);
	background: linear-gradient(188deg, rgba(0, 179, 164, 0.95) 0%, rgba(#9e9e9e, 0.95) 94%);
	pointer-events: none;
	// display: none;
}

.button--about, .button--back {
	position: absolute; 
	bottom: 12px;
	right: 12px;
	width: 37px;
}

.button--back {
	pointer-events: none;
}

.button--about {
	opacity: 0;
}

.content-frame {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	text-align: center;
	flex-direction: column;
	pointer-events: none;
	// display: none;
}

.content-frame--jump span {
	margin-top: 30px;
	transform: translateY(10vh);
}

.content-frame--loading, .content-frame--rotate, .content-frame--device {
	background: #00b3a4;
	background: linear-gradient(188deg, rgba(0, 179, 164, 1) 0%, rgba(#9e9e9e, 1) 94%);
}


@media screen and (orientation: portrait) {
	.content-frame--rotate {
		opacity: 1;
	}
}

body.unsupported .content-frame--device {
	opacity: 1;
}

// .content-frame--instructions {
// 	opacity: 1;
// }

.layout-section {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.layout-section:first-child {
	padding-top: 25px;
}

.instructions__instruction {
	display: block;
	margin-bottom: 14px;
}

.instructions__instruction:last-child {
	margin-bottom: 0;
}

.button--got-it, .button--back {
	margin-top: -10px;
	cursor: pointer;
}

.button--got-it {
	pointer-events: auto;
}

.text--welcome-to {
	margin-bottom: 14px;
	margin-top: -10px;
}

.text--rotate, .text--loading {
	margin-top: -6px;
}